body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}
.container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
}
.container h1{
    text-align: center;
    padding: 20px;
    color: blue;
    font-style: italic;
    font-family: monospace;
    font-size: 5em;
    font-style: oblique;
}
.movie-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container.movie-picture img{
    height: 20px;
    width: auto;

}
.movie-information{
    justify-content: center;
}

.movie-information h2 {
    font-size: 16px;
    margin: 5px 0;
}

.showing-container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
}
.showing-container h3{
    text-align: center;
    padding: 20px;
    color: blue;
    font-style: italic;
    font-family: monospace;
    font-size: 3em;
    font-style: oblique;
}

.showing-container.list-group.ol{
    text-align: center;
}